.timer-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.timer-window .timer-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.timer-window .timer-input input {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 4px;
  width: 50%;
  height: 40px;
  padding: 10px;
}
.timer-window .timer-input input::-moz-placeholder {
  color: white;
  font-family: sans-serif;
}
.timer-window .timer-input input::placeholder {
  color: white;
  font-family: sans-serif;
}
.timer-window .timer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.timer-window .timer-button button {
  border: none;
  border-radius: 4px;
  width: 50%;
  height: 40px;
  padding: 10px;
}
.timer-window .timer-button button:first-child {
  background-color: greenyellow;
}
.timer-window .timer-button button:nth-child(2) {
  background-color: blue;
}
.timer-window .timer-button button:last-child {
  background-color: red;
}